---
- name: Installation - Check version installation.
  stat: path="/var/www/testlink-{{testlink_version}}"
  register: version_installed

- name: Installation - Download testlink.
  get_url:
    url: "{{ teslink_package_url }}"
    dest: "/tmp/testlink.tar.gz"
  when: not version_installed.stat.exists

- name: Installation - Unarchive testlink.
  unarchive:
    src: "/tmp/testlink.tar.gz"
    dest: "/var/www"
    copy: no
  when: not version_installed.stat.exists
  register: testlink_unarchived