<?php
// {{ ansible_managed }}
// this is your custom configuration file custom_config.inc.php

$tlCfg->config_check_warning_mode = ’SILENT’;

$tlCfg->authentication['method'] = "{{ testlink_authentication_method }}";
{% if testlink_authentication_method == 'LDAP' %}
$tlCfg->authentication['ldap'][1]['ldap_server'] = "{{ testlink_ldap_server }}";
$tlCfg->authentication['ldap'][1]['ldap_port'] = "{{ testlink_ldap_port }}";
$tlCfg->authentication['ldap'][1]['ldap_version'] = '3';
$tlCfg->authentication['ldap'][1]['ldap_root_dn'] = "{{ testlink_ldap_root_dn }}";
$tlCfg->authentication['ldap'][1]['ldap_bind_dn'] = "{{ testlink_ldap_bind_dn }}";
$tlCfg->authentication['ldap'][1]['ldap_bind_passwd'] = "{{ testlink_ldap_bind_passwd }}";
// Following configuration parameters are used to build
// ldap filter and ldap attributes used by ldap_search()
$tlCfg->authentication['ldap'][1]['ldap_organization'] = "{{ testlink_ldap_organization | default('') }}"; // e.g. '(organizationname=*Traffic)'
$tlCfg->authentication['ldap'][1]['ldap_uid_field'] = "{{ testlink_ldap_uid_field | default('uid') }}"; // Use 'sAMAccountName' for Active Directory

/** Enable/disable Users to create accounts on login page */
$tlCfg->user_self_signup = FALSE;
// True if user does not exist on DB, but can be get from LDAP,
// the user will be created AUTOMATICALLY with default user role.
$tlCfg->authentication['ldap_automatic_user_creation'] = "{{ testlink_ldap_automatic_user_creation | default('false') }}";
$tlCfg->authentication['ldap_email_field'] = "{{ testlink_ldap_email_field | default('mail') }}";
$tlCfg->authentication['ldap_firstname_field'] = "{{ testlink_ldap_firstname_field | default('givenname') }}";
$tlCfg->authentication['ldap_surname_field'] = "{{ testlink_ldap_lastname_field | default('sn') }}";
// to prevent a testlink bug with function getUserFieldsFromLDAP
$tlCfg->authentication['ldap'][1]['ldap_email_field'] = "{{ testlink_ldap_email_field | default('mail') }}";
$tlCfg->authentication['ldap'][1]['ldap_firstname_field'] = "{{ testlink_ldap_firstname_field | default('givenname') }}";
$tlCfg->authentication['ldap'][1]['ldap_surname_field'] = "{{ testlink_ldap_lastname_field | default('sn') }}";
{% endif %}

{% if testlink_force_https is defined %}
$tlCfg->force_https = "{{ testlink_force_https }}";
{% endif %}

?>