<?php
// {{ ansible_managed }}
// this is your custom configuration file custom_config.inc.php

{% if testlink_ldap_enabled %}
$tlCfg->authentication['method'] = 'LDAP';
$tlCfg->authentication['ldap_server'] = "{{ testlink_ldap_server }}";
$tlCfg->authentication['ldap_port'] = "{{ testlink_ldap_port }}";
$tlCfg->authentication['ldap_version'] = '3';
$tlCfg->authentication['ldap_root_dn'] = "{{ testlink_ldap_root_dn }}";
$tlCfg->authentication['ldap_uid_field'] = "{{ testlink_ldap_uid_field }}";
$tlCfg->authentication['ldap_bind_dn'] = "{{ testlink_ldap_bind_dn }}";
$tlCfg->authentication['ldap_bind_passwd'] = "{{ testlink_ldap_bind_passwd }}";
/** Enable/disable Users to create accounts on login page */
$tlCfg->user_self_signup = FALSE;
{% endif %}

{% if testlink_force_https is defined %}
$tlCfg->force_https = "{{ testlink_force_https }}";
{% endif %}

?>